tp1/collection_test_ER2
tp1/corpus
tp1/TestCollection_n
tp2/Punto6/docs
tp2/Punto5/resultados
tp2/Punto6/test
tp1/test
*.json
*.ALL
*.BLN
*.QRY
*.REL
tp1/idioma
tp1/RE_collection_test
tp1/*.zip
tp2/Punto5/wiki-small
tp2/Punto5/DocsTrec
tp2/Punto5/custom_trec_index
pyterrier_showcase.ipynb
terrier_corpus.trec
tp2/ejemploRibeiro
tp2/Punto9/indiceTrec

.gitignore
*.zip
